<div class="vseek-delete">
    <h1>DELETE VSEEKS?!</h1>
    <p>
        A vSeeks only lives up to its true potential, if it's kept alive for its entire lifespan, but we get it; plans change. <br/>
        However, as a formality, this vSeeksBox requires you to enter the unwanted vSeeks ID correctly to initiate deletion.
    </p>
    <input type="text" ng-model="id_input" ng-style="boxStyle" placeholder="Enter vID here...">
    <button class="delete_button" id="delete_button" ng-click="checkID(id_input)">DELETE</button>
</div>
