<form ng-submit="createVSeeks()">
    How can they help?:<br/> 
    <input type="text" ng-model="task" placeholder="eg. Help me study..." required> <br/>
    What sites should they block?:<br/>
    <textarea ng-model="blacklist" class="blacklist" placeholder="seperate with a comma and space..." required></textarea><br/>
    How long should this take? <br/>
    <input type="number" ng-model="hours" placeholder="HH" min="0" value="0" required>
    <input type="number" ng-model="minutes" placeholder="MM" min="0" max="59" value="0" required>
    <input type="number" ng-model="seconds" placeholder="SS" min="0" max="59" value="0" required>
    <br/><br/>
    <input type="submit" value="CREATE!">
</form>