#createVseeks {
    display: block;
    margin: 0 auto;
}
.item {
    border: solid black 2px;
}
.center_text {
    text-align: center;
}

header h1 {
    margin-left: 100px;
    margin-right: 100px;
}

header {
    display: flex;
    flex-direction: row;
}

.newV_button, .home_button {
    margin: 0 auto;
    font-size: 2em;
}

.vseek-life {
    display: flex;
    flex-direction: row;
}